.admin-season .ant-form-item-label {
    width: 220px;
}

.admin-season .ant-picker-outlined {
    width: 100% !important;
}

.admin-season .ant-form-item-row {
    align-items: center;
}
.ant-modal {
    width: 800px;
}
.admin-season .ant-form-item-control {
    /* height: 44px; */
}

.admin-season .ant-select .ant-select-arrow {
    height: 22px !important;
}

.admin-season .ant-form-item-control-input {
    min-height: 44px !important; 
}

.admin-season .ant-form-item {
    /* margin-bottom: 50px !important; */
}

.admin-season .ant-form-item {
    margin-bottom: 16px; 
}

.admin-season .ant-col {
    margin-top: 5px !important;
}

.justify-end {
    justify-content: end;
}

.btn-delete-season {
    border: none;
    background: none;
    color: red;
    font-size: 20px;
}

.btn-delete-season:hover {
    background: none !important;
    color: red !important;
}

.btn-edit-season {
    background: none;
    font-size: 20px;
    border: none;
    color: var(--mainBlueColor);
}

.btn-edit-season {
    background: none !important;
    color: var(--mainBlueColor) !important;
}

.ant-table-content {
    overflow-x: auto;
}
.sub-table-title {
    font-size: 18px;
    font-weight: 600;
}